<h2><%= horario.origen.nucleo.nombre %></h2>
<h3><%= horario.origen.nombre %> - <%= horario.destino.nombre %></h3>
<h4><%= horario.date %></h4>
<table class="bordered centered striped">
  <thead>
    <tr>
      <th>Linea</th>
      <th>Salida</th>
      <th>Llegada</th>
      <th>Linea</th>
      <th>Salida</th>
      <th>Llegada</th>
    </tr>
  </thead>
  <tbody>
    <% horario.horas.each do |line| %>
      <tr>
        <td><%= line.linea_1 %></td>
        <td><%= line.hora_origen_1 %></td>
        <td><%= line.hora_destino_1 %></td>
        <td><%= line.linea_2 %></td>
        <td><%= line.hora_origen_2 %></td>
        <td><%= line.hora_destino_2 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
